[Desktop Entry]
Type=Application
Name=LXRandR autostart
Comment=Start xrandr with settings done in LXRandR
Exec=sh -c 'xrandr --output DVI-0 --mode 1920x1080 --rate 60.00 --output DisplayPort-0 --mode 2560x1440 --rate 144.00 --left-of DVI-0'
OnlyShowIn=LXDE
